<template>
  <div>
    <div>Choose Theme: </div><br>
    <el-select v-model="theme" placeholder="Select">
      <el-option
        v-for="item in themeOptions"
        :key="item.value"
        :label="item.label"
        :value="item.value">
      </el-option>
    </el-select>
    <br><br><br>
    <div>
      <my-button type="primary-dark3">Primary Dark 3</my-button>
      <my-button type="primary-dark2">Primary Dark 2</my-button>
      <my-button type="primary-dark1">Primary Dark 1</my-button>
      <my-button type="primary">Primary</my-button>
      <my-button type="primary-light1">Primary Light 1</my-button>
      <my-button type="primary-light2">Primary Light 2</my-button>
      <my-button type="primary-light3">Primary Light 3</my-button>
    </div>
    <br>
    <div>
      <my-button type="danger-dark3">Danger Dark 3</my-button>
      <my-button type="danger-dark2">Danger Dark 2</my-button>
      <my-button type="danger-dark1">Danger Dark 1</my-button>
      <my-button type="danger">Danger</my-button>
      <my-button type="danger-light1">Danger Light 1</my-button>
      <my-button type="danger-light2">Danger Light 2</my-button>
      <my-button type="danger-light3">Danger Light 3</my-button>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    MyButton: () => import('@/components/Button')
  },
  data () {
    return {
      theme: 'default',
      themeOptions: [
        { value: 'default', label: 'Default' },
        { value: 'federal', label: 'Federal' }
      ]
    }
  },
  methods: {
    initializeTheme () {
      let htmlElement = document.documentElement
      let theme = localStorage.getItem('theme')

      if (theme == 'federal') {
        htmlElement.setAttribute('theme', 'federal')
        this.theme = 'federal'
      } else {
        htmlElement.setAttribute('theme', 'default')
        this.theme = 'default'
      }
    },
    changeTheme () {
      let htmlElement = document.documentElement

      if (this.theme == 'federal') {
        localStorage.setItem('theme', 'federal')
        htmlElement.setAttribute('theme', 'federal')
      } else {
        localStorage.setItem('theme', 'default')
        htmlElement.setAttribute('theme', 'default')
      }
    }
  },
  mounted () {
    this.initializeTheme()
  },
  watch: {
    theme () {
      this.changeTheme()
    }
  }
}
</script>

<style lang="scss" scoped>
  .my-button {
    margin-right: 15px;
  }
</style>
