<template>
  <div class="my-button" :class="getType">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'MyButton',
  props: {
    /**
     * Background type or color of the button <br/><br/>
     * Accepted value: `success` `warning` `danger`
     */
    type: {
      type: String,
      default: undefined
    }
  },
  computed: {
    getType () {
      if (this.type) return `my-button--${this.type}`
      else return null
    }
  }
}
</script>

<style lang="scss" scoped>
  .my-button {
    padding: 10px 20px;
    background-color: #FFF;
    color: var(--black);
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;

    &--primary {
      background-color: var(--primary);
      color: var(--white);
    }

    &--primary-dark1 {
      background-color: var(--primary-dark1);
      color: var(--white);
    }

    &--primary-dark2 {
      background-color: var(--primary-dark2);
      color: var(--white);
    }

    &--primary-dark3 {
      background-color: var(--primary-dark3);
      color: var(--white);
    }

    &--primary-light1 {
      background-color: var(--primary-light1);
      color: var(--white);
    }

    &--primary-light2 {
      background-color: var(--primary-light2);
      color: var(--white);
    }

    &--primary-light3 {
      background-color: var(--primary-light3);
      color: var(--white);
    }

    &--danger {
      background-color: var(--danger);
      color: var(--white);
    }

    &--danger-dark1 {
      background-color: var(--danger-dark1);
      color: var(--white);
    }

    &--danger-dark2 {
      background-color: var(--danger-dark2);
      color: var(--white);
    }

    &--danger-dark3 {
      background-color: var(--danger-dark3);
      color: var(--white);
    }

    &--danger-light1 {
      background-color: var(--danger-light1);
      color: var(--white);
    }

    &--danger-light2 {
      background-color: var(--danger-light2);
      color: var(--white);
    }

    &--danger-light3 {
      background-color: var(--danger-light3);
      color: var(--white);
    }
  }
</style>
